.agari_window {
    width: 900px;
    height: 700px;
    position: absolute;
    z-index: 10;
    background-color: darkgreen;
    top: 150px;
    left: 50px;
}

.playerName {
    color: white;
    border: 1px solid white;
    width: 220px;
    font-size: 4em;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hai {
    position: absolute;
    bottom: 80px;
    left: 170px;
}

.ba {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    font-size: 4em;
}
.honInfo{
    position: absolute;
    top: 100px;
    left: 20px;
    color: white;
    font-size: 2em;
}

.ie {
    position: absolute;
    top: 20px;
    right: 250px;
    color: white;
    font-size: 2em;
}

.doraField {
    position: absolute;
    width: 240px;
    right: 250px;
    top: 10px;
}

.yaku {
    position: absolute;
    left: 100px;
    top: 220px;
    width: 600px;
    color: white;
    font-size: 2em;
    clear: both;
}

.yaku_child {
    float: left;
    margin: 0 25px;
}

.fu_han {
    position: absolute;
    right: 50px;
    bottom: 200px;
    color: white;
    font-size: 2em;
}

.tensu{
    position: absolute;
    right: 50px;
    bottom: 150px;
    color: white;
    font-size: 3em;
}

.tensuText {
    position: absolute;
    right: 240px;
    bottom: 150px;
    color: white;
    font-size: 4em;
}

.next {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background-color: blue;
    font-size: 4em;
    cursor: pointer;
}

.tensuBox {
    position: absolute;
    right: 0;
    width: 200px;
    border: 2px solid white;
    height: 60px;
    font-size: 1.5em;
}

.tensuBoxPosition0 {
    top: 100px;
}

.tensuBoxPosition1 {
    top: 160px;
}

.tensuBoxPosition2 {
    top: 220px;
}

.tensuBoxPosition3 {
    top: 280px;
}

.tensuName {
    background-color: gray;
    color: white;
    height: 30px;
}

.tensuHyoji {
    color: white;
    height: 30px;
}