.board {
    position: relative;
    width: 1000px;
    height: 1000px;
    background-color: green;
}

/* ownplayer */
.ownPaiBaseField {
    position: absolute;
    top: 940px;
    left: 200px;
    width: 462px;
}

.ownSutehaiField {
    position: absolute;
    top: 600px;
    left: 350px;
    width: 210px;
}

.ownNakiField {
    position: relative;
    width: 170px;
    top: 1000px;
    left: 750px;
}

/* player1 */
.player1PaiBaseField {
    position: absolute;
    top: 500px;
    left: 730px;
    width: 462px;
    transform:rotate(90deg);
}

.player1SutehaiField {
    position: absolute;
    top: 380px;
    left: 590px;
    width: 210px;
    transform:rotate(-90deg);
}

.player1NakiField {
    position: relative;
    width: 170px;
    top: 160px;
    left: 915px;
    transform:rotate(-90deg);
}

/* player2 */
.player2PaiBaseField {
    position: absolute;
    top: 0;
    left: 300px;
    width: 462px;
    transform:rotate(180deg);
}

.player2SutehaiField {
    position: absolute;
    top: 190px;
    left: 340px;
    width: 210px;
    transform:rotate(180deg);
}

.player2NakiField {
    position: relative;
    width: 170px;
    top: 0px;
    left: 90px;
    transform:rotate(180deg);
}

/* player3 */
.player3PaiBaseField {
    position: absolute;
    top: 430px;
    left: -200px;
    width: 462px;
    transform:rotate(90deg);
}

.player3SutehaiField {
    position: absolute;
    top: 400px;
    left: 120px;
    width: 210px;
    transform:rotate(90deg);
}

.player3NakiField {
    position: relative;
    width: 170px;
    top: 830px;
    left: -80px;
    transform:rotate(90deg);
}
